@font-face {
    font-family: 'lato';
    src: url('fuentes/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'scary';
    src: url('fuentes/scary/scary_halloween_font-webfont.woff2') format('woff2'),
         url('fuentes/scary/scary_halloween_font-webfont.woff') format('woff'),
         url('fuentes/scary/Scary\ Halloween\ Font.ttf Halloween\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: lightblue;
}
p{
    font-family: 'scary';
    color: red;
    font-size: 3rem;
    text-shadow: rgb(46, 1, 1) 2px 3px 3px;
}
#gFonts{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: 'lato';
}
